{% extends 'base.html' %}
{% block content %}
    <div style="background-color:#333">
            <div class="container">
                <div class="row text-center">
                    <h4>Lançamentos Financeiros</h4>

                </div>

            </div>
                <div >
                  <form method="post" class="" style="padding:10px; width:99%;">
                    {%csrf_token%}
                      <!--
                        {{form.as_p}}
                        <input value="Adicionar" type="submit" class="btn btn-primary">
                      -->
                      <div class="container form-bills" style="width:99%;">
                          <div class="row">
                              <div class="col-md-4 col-lg-4">
                                  <label for="id_farm">Fazenda:</label><br>
                                  {{form.farm}}<br>
                                  <label for="id_value">Valor:</label><br>
                                  {{form.value}}<br>
                                  <label for="id_type">Tipo:</label><br>
                                  {{form.type}}<br>
                              </div>


                              <div class="col-md-4 col-lg-4">
                                  <label for="id_bank_account">Conta Bancária:</label><br>
                                  {{form.bank_account}}<br>
                                  <label for="id_account">Categoria:</label><br>
                                  {{form.account}}<br>
                                  <label for="id_provider">Fornecedor/Cliente:</label><br>
                                  {{form.provider}}<br>

                              </div>


                              <div class="col-md-4 col-lg-4">
                                  <label for="id_description">Descrição:</label><br>
                                  {{form.description}}<br>
                                  <label for="id_date">Data:</label><br>
                                  {{form.date}}<br>
                                  <br>
                                  <input value="Atualizar" type="submit" class="btn btn-success btn-erp">

                              </div>
                          </div>
                    </div>


                 </form>
              </div>

    </div>

{% endblock  %}