{% extends 'base.html' %}
{% block content %}
    <div>
            <div class="container">
                <div class="row text-center">
                    <h4>Lançamentos Financeiros</h4>

                </div>

            </div>
                <div >
                  <form method="post" class="" style="padding:10px; width:99%;">
                    {%csrf_token%}
                      <!--
                        {{form.as_p}}
                        <input value="Adicionar" type="submit" class="btn btn-primary">
                      -->
                      <div class="container form-bills" style="width:99%;">
                          <div class="row">
                              <div class="col-md-3 col-lg-3">
                                  <label for="id_farm">Fazenda:</label><br>
                                  <select class="form-control forms" id="id_farm">
                                      {%for farm in farms%}
                                        <option value="{{farm.id}}"> {{farm.name}} </option>
                                      {%endfor%}
                                  </select>
                                  <br>
                                  <label for="id_value">Valor:</label><br>
                                  {{form.value}}<br>
                                  <label for="id_type">Tipo:</label><br>
                                  {{form.type}}<br>
                              </div>


                              <div class="col-md-3 col-lg-3">
                                  <label for="id_bank_account">Conta Bancária:</label><br>
                                  <select class="form-control forms" id="id_bank_account">
                                      {%for bank_account in bank_accounts%}
                                        <option value="{{bank_account.id}}">{{bank_account}} </option>
                                      {%endfor%}
                                  </select>
                                  <br>
                                  <label for="id_account">Categoria:</label><br>
                                    <select class="form-control forms" id="id_account">
                                        {%for account in accounts%}
                                            <option value="{{account.id}}" > {{account.name}} </option>
                                        {%endfor%}
                                    </select>
                                  <br>
                                  <label for="id_provider">Fornecedor/Cliente:</label><br>
                                  <select class="form-control forms" id="id_provider">
                                     {%for provider in providers%}
                                            <option value="{{provider.id}}"> {{provider}} </option>
                                      {%empty%}
                                            <option value="null"> Cadastre Fornecedores </option>

                                      {%endfor%}
                                  </select>
                                  <br>

                              </div>
                              <div class="col-md-3 col-lg-3">
                                  <label>Tipo de Documento:</label><br>
                                  {{form.document_type}}<br>
                                  <label>Número do Documento:</label><br>
                                  {{form.document_number}}<br>
                              </div>

                              <div class="col-md-3 col-lg-3">
                                  <label for="id_description">Descrição:</label><br>
                                  {{form.description}}<br>
                                  <label for="id_date">Data:</label><br>
                                  {{form.date}}<br>
                                  <br>
                                  <input value="Adicionar" type="submit" class="btn btn-primary btn-erp">

                              </div>
                          </div>
                    </div>


                 </form>
              </div>
        <center>

            <table class="table">
                <tr>
                    <th>
                        <h4> Fazenda</h4>
                    </th>

                    <th>
                        <h4> Banco</h4>
                    </th>

                    <th>
                        <h4> Descrição</h4>
                    </th>

                    <th>
                        <h4> Categoria</h4>
                    </th>
                    <th>
                        <h4> Fornecedor/Cliente</h4>
                    </th>


                    <th>
                        <h4> Valor</h4>
                    </th>

                    <th>
                        <h4> Data</h4>

                    </th>

                    <th>
                        <h4> Ação</h4>
                    </th>
                </tr>
                {%for bill in bills%}
                    <tr>
                        <th> <span style="color:#555E5E;">{{bill.farm}} </span></th>
                        <th> <span style="color:#555E5E;">{{bill.bank_account}} </span></th>
                        <th> <span style="color:#555E5E;">{{bill.description}} </span></th>
                        <th> <span style="color:#555E5E;">{{bill.account}} </span></th>
                        <th> <span style="color:#555E5E;">{{bill.provider}} </span></th>

                        {%if bill.type == 'Pagar' %}
                            <th>  <span style="color:#555E5E;">-R${{bill.value}}</span> </th>
                        {%else%}
                            <th> <span style="color:#555E5E;">R${{bill.value}}</span> </th>
                        {%endif%}

                        <th> <span style="color:#555E5E;">{{bill.date}}</span> </th>
                        <th style="color:#555E5E;"> <a href="#">  <span style="color:#df2a2a; "> X </span> </a> | <a href="{% url 'bill_update'  pk=bill.id%}"> <span style="color: #379f8c;"> Editar</span> </a> </th>
                    </tr>
                {%empty%}
                <tr>
                    <center> <th><h5>Sem Lançamentos</h5> </th></center>'
                </tr>
                {%endfor%}
                        <th> Total </th>
                        <th>  </th>
                        <th>  </th>
                        <th>  </th>
                        <th>  </th>

                        <th> R${{value_total}}  </th>

                        <th>  </th>
                        <th>  </th>

            </table>

        </center>
    </div>

{% endblock  %}