{% extends 'base.html' %}
{%block title%}Lançamentos - Importar NFe - Xml{%endblock%}

{% block content %}

    <div>
        <center>
            <h2>Importe dados do das NFe(xml's)</h2>
            <form  method="post" enctype="multipart/form-data" class="form">
                {%csrf_token%}
                {{form.as_p}}
                 <label for="id_farm">Fazenda: </label><br>
                    <select id="id_farm" class="form-control forms" name="farm">
                        {%for farm in farms%}
                            <option value="{{farm.id}}">{{farm.name}} </option>
                        {%endfor%}
                    </select><br>
                <label for="id_farm">Arquivo: </label>
                <input type="file" name="file" class="alert alert-info" >
                <br>
                <input value="Importar" type="submit"  class="btn btn-info btn-erp">
            </form>
        </center>
    </div>
    <div>
        <br>
        <br>
        <br>
        {%if xml %}
        {{xml}}
        <br>
        <br>
        <br>
        {{cnpj}}
        {%endif%}
    </div>
{% endblock %}